<?xml version="1.0" encoding="UTF-8"?>
<!--
 | This is the configuration file for Maven. It can be specified at two levels:
 |
 |  1. User Level. This settings.xml file provides configuration for a single user, 
 |                 and is normally provided in ${user.home}/.m2/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -s /path/to/user/settings.xml
 |
 |  2. Global Level. This settings.xml file provides configuration for all Maven
 |                 users on a machine (assuming they're all using the same Maven
 |                 installation). It's normally provided in 
 |                 ${maven.home}/conf/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -gs /path/to/global/settings.xml
 |
 | The sections in this sample file are intended to give you a running start at
 | getting the most out of your Maven installation. Where appropriate, the default
 | values (values used when the setting is not specified) are provided.
 |
 |-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
      
  <localRepository>/EUIPO/maven/repo</localRepository>
   
   <servers>  
    <server>  
      <!-- this id should match the id of the repo server in pom.xml -->  
      <id>nexus-snapshots</id>  
      <username>sopraread</username>  
      <password>sopra123</password>  
    </server>
    <server>  
      <!-- this id should match the id of the repo server in pom.xml -->  
      <id>nexus-releases</id>  
      <username>sopraread</username>  
      <password>sopra123</password>  
    </server>
  </servers> 
  
    <mirrors>
        <mirror>
            <id>nexus-snapshots</id>
            <name>Corporate Maven Snapshot Repository</name>
            <url>http://192.168.214.160:8081/repository/snapshots/</url>
            <mirrorOf>public-snapshots,public-plugin-snapshots,euipo-snapshots</mirrorOf>
        </mirror>
        <mirror>
            <id>nexus-releases</id>
            <name>Corporate Maven Release Repository</name>
            <url>http://192.168.214.160:8081/repository/releases/</url>
            <mirrorOf>external:*</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>distribution</id>
            <properties>
                <st.nexus.host>http://192.168.214.160:8081</st.nexus.host>
                <!-- cannot use variable st.nexus.host here! -->
                <st.snapshots.url>http://192.168.214.160:8081/repository/snapshots</st.snapshots.url>
                <st.releases.url>http://192.168.214.160:8081/repository/releases</st.releases.url>
            </properties>
            <repositories>
                <repository>
                    <id>public-snapshots</id>
                    <name>OHIM Snapshots</name>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>http://192.168.214.160:8081/repository/snapshots/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>public-releases</id>
                    <name>OHIM Releases</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>http://192.168.214.160:8081/repository/releases/</url>
                    <layout>default</layout>
                </repository>
                
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>public-plugin-snapshots</id>
                    <name>OHIM Plugin Snapshots</name>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>http://192.168.214.160:8081/repository/euipo-snapshots/</url>
                    <layout>default</layout>
                </pluginRepository>
                <pluginRepository>
                    <id>public-plugin-releases</id>
                    <name>OHIM Plugin Releases</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>http://192.168.214.160:8081/repository/releases/</url>
                    <layout>default</layout>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>distribution</activeProfile>
    </activeProfiles>


</settings>
